.container {
  max-width: 124rem;
  padding: 4rem 1rem;
  margin: 0 auto;
}

.swiper_container {
  height: 36rem;
  width: 100%;
  position: relative;
}

.swiper-slide {
  width: 37rem;
  height: 42rem;
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}

.swiper-slide {
  --progress: 0; /* Default progress value */
  filter: blur(calc(var(--progress) * 20px)) drop-shadow(0px 10px 8px #0000004d)
    opacity(calc(var(--progress) + 2.5))
    brightness(calc(1 + 0.2 * var(--progress)));
}

.dark .swiper-slide {
  --progress: 1;
  filter: brightness(calc(1 - 0.5 * var(--progress)))
    drop-shadow(0 0 8px #0000004d) opacity(calc(1 - 1 * var(--progress) + 1))
    blur(calc(var(--progress) * 16px));
}

@media (max-width: 1024px) {
  .swiper_container {
    height: 32rem;
  }
}

@media (max-width: 714px) {
  .swiper-slide {
    filter: drop-shadow(0px 0px 0px #0000004d);
  }
}

.slider-controler {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-controler .slider-arrow {
  width: 1.5rem;
  height: 1.5rem;
  color: #00000080;
}

.slider-controler .slider-arrow:hover {
  color: #000000;
}

.dark .slider-controler .slider-arrow {
  color: #ffffff80;
}

.dark .slider-controler .slider-arrow:hover {
  color: #ffffff;
}

.slider-controler .swiper-button-prev,
.slider-controler .swiper-button-next {
  position: absolute;
  top: 50%;
  margin-bottom: 1rem;
}

.slider-controler .swiper-button-prev {
  left: -45%;
}

.slider-controler .swiper-button-next {
  right: -45%;
}

.slider-controler .slider-arrow::after {
  content: "";
}

.swiper-slide-prev .gradient-slider,
.swiper-slide-next .gradient-slider {
  /* background: radial-gradient(
    circle at top right,
    rgba(195, 184, 254, calc(var(--progress) * 0.8)) 0%,
    rgba(178, 196, 252, calc(var(--progress) * 0.6)) 33%,
    rgba(248, 207, 179, calc(var(--progress) * 0.6)) 66%,
    rgba(235, 163, 223, calc(var(--progress))) 100%
  ); */
  transition: background 0.6s;
  pointer-events: none;
}

.gradient-slider {
  background: radial-gradient(
    circle at top right,

    rgba(195, 184, 254, 0.3) 0%,
    rgba(178, 196, 252, 0.2) 33%,
    rgba(248, 207, 179, 0.4) 66%,
    rgba(235, 163, 223, 0.6) 100%
  );
}

.dark .gradient-slider {
  background: radial-gradient(
    circle at top right,

    rgba(48, 48, 48, 0.6) 0%,
    rgba(100, 16, 148, 0.2) 33%,
    rgba(11, 7, 59, 0.4) 66%,
    rgba(0, 0, 0, 0.9) 90%
  );
}

/* .card-shadow {
  background: #fff;
  border-radius: 4rem;
  box-shadow: 0 0 60px 30px #fff, 0 0 100px 60px #f0f, 0 0 140px 90px #0ff;
}

.dark .card-shadow {
  background: #0a0a0a;
  border-radius: 40rem;
  box-shadow: 0 0 60px 30px #0a0a0a, 0 0 100px 60px rgb(0, 17, 255),
    0 0 140px 90px rgb(111, 0, 255);
} */

/* @media (max-width: 768px) {
  .swiper_container {
    height: 20rem;
  }
} */
